<app-top-navbar  [childMessage]="parentMessage"></app-top-navbar>
  <app-nav-bar></app-nav-bar>
  <div class="main">
      <div class="el1">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td><button>Basic Information</button></td>
            </tr>
            <tr>
                <td><button> History of state changes</button></td>
            </tr>
            <tr>
                <td><button>Multimedia attachments</button> </td>
            </tr>
            <tr>
                <td><button> Equipment</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="el">
        <app-workreq-basicinfo></app-workreq-basicinfo>
    </div>
</div>