
 <div class="bg" ></div>
 <div class="bg bg2"></div>
 <div class="bg bg3"></div>
  <div class="main">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item" >
                <button class="nav-link" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"  (click)="Info()" >Basic information</button>
            </li> 
            <li  class="nav-item">
                <button  class="nav-link" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"  (click)="History()" >History of state changes</button>
            </li>
            <li  class="nav-item">
                <button class="nav-link" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" [routerLink]='["/home/workreq-new/workreq-multimedia"]' (click)="Media()">Multimedia attachments</button>
            </li> 
            <li  class="nav-item">
                <button class="nav-link" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" [routerLink]='["/home/workreq-new/workreq-equipment"]' (click)="Equ()">Equipment</button>
            </li> 
           
          </ul>
        </nav>
      <router-outlet></router-outlet>
     <!-- <div class="el1">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td><button>Basic Information</button></td>
            </tr>
            <tr>
                <td><button> History of state changes</button></td>
            </tr>
            <tr>
                <td><button>Multimedia attachments</button> </td>
            </tr>
            <tr>
                <td><button> Equipment</button></td>
            </tr>
            </tbody>
        </table>
    </div>-->
    <!--
    <div class="el">
        <app-workreq-basicinfo></app-workreq-basicinfo>
    </div>
-->
</div>