<div class="container" style="width: 65%;">
    <div class="row gutters-sm">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="reset-settings">
                        <h6 >RESET SETTINGS</h6>
                        <hr>
                        <form>
                        <div class="form-group">
                            <label style="font-weight: 400;">Do you want to reset all setting to default?</label><br>
                            <button type="reset" class="btn btn-light">Reset</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>