<ul>
    <li style="margin-left: 1.5cm;" >
        <a [routerLink]='["/home/incident-new/"]' ><b>BASIC INFO</b></a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/devices"]' ><b>DEVICES</b></a>
    </li>
    <li>
        <a [routerLink]='["/home/incident-new/resolution"]' >RESOLUTION</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/calls"]' >CALLS</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/crew"]' >CREW</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/multimedia"]' >MULTIMEDIA</a>
    </li>  
  </ul>
  <router-outlet></router-outlet>