ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
    display: flex;
    justify-content: center;
    font-size: 100%;
  }
  
  li {
    width: 12%;
    float: left;
    display: inline;

  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    border-radius: 0.9em;
  }
  
  li a:hover {
    background-color: transparent;
    border-color: white;
    font-size: larger;
    background-color: rgb(107, 231, 231);
  }

  .naslov{
    color: white;
    text-align: center;
    padding: 8px;
  }