<ul style="margin-left: -50px; display: flex;">
    <li style="margin-left: 1.5cm;" >
        <a [routerLink]='["/home/incident-new/"]' >BASIC INFO</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/devices"]' >DEVICES</a>
    </li>
    <li>
        <a [routerLink]='["/home/incident-new/resolution"]' >RESOLUTION</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/calls"]' >CALLS</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/crew"]' >CREW</a>
    </li> 
    <li>
        <a [routerLink]='["/home/incident-new/multimedia"]' >MULTIMEDIA</a>
    </li>
    <li>
        <a (click)="finished()">SUBMIT DATA</a>
    </li>
  </ul>
  <router-outlet></router-outlet>