.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.bg3 {
    animation-duration:5s;
}
  
  .content {
    margin-top: 65px;
    background-color:rgba(255,255,255,.8);
    border-radius: 0.9em;
    width: 80%;
    height: max-content;
    padding: 2%;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    position:fixed;
    text-align:center;
    top:45%;
    bottom: 3%;
    transform:translate(-50%, -50%);
  }

  .label-cls{
    width: 1;
    height: 50%;
}

html {
    height:100%;
    overflow-y: scroll;
}
  
body {
    height: 100%;
    overflow-y: scroll;

    margin:0;
    position: absolute;
}

label{
    float: left;
    margin-left: 5px;
}

 