.save_remove{
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 10%;
    text-align: center;
  }
  .save_remove:hover {
    background-color:#4CAF50;
  }
  .top_el{
    float: left;
    width: 50%;
  }
  input[type="text"],[type="time"],[type="date"],[type="tel"]{
    width: 40%;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  .main {
    margin-top: 100px;
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    width: 90%;
    height: 100%;
    padding: 3%;
    
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:52%;
    position:absolute;
    text-align:center;
    top:60%;
    transform:translate(-50%, -50%);
  }
  