

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<div class="container" style="width: 85%; margin-top: 10%;">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 30px;">
                    <form [formGroup]="basicInfoForm">
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Incident ID:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #idIncident style="text-align: center;" readonly/>
                            </div>
                            <div class="col-sm-2">
                                <p>Affected customers:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #affectedByIncident style="text-align: center;" readonly/>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Type:</p>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" style="height: 1cm;" formControlName="type">
                                    <option value="">Choose type</option>
                                    <option value="Unplaned">Unplaned</option>
                                    <option value="Planed">Planed</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <p>Outage(date):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" formControlName="outageDate" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Priority:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #prioIncident style="text-align: center;" readonly/>
                            </div>
                            <div class="col-sm-2">
                                <p>Outage(time):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" formControlName="outageTime" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Confirmed:</p>
                            </div>
                            <div class="col-sm-4">
                                <input #confirmedIncident class="form-control" type="checkbox" style="width: 0.6cm; height: 0.5cm;">
                            </div>
                            <div class="col-sm-2">
                                <p>ETR(date):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" formControlName="etrDate" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Status:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #statusIncident style="margin-top: 1mm; text-align: center;" readonly/>
                            </div>
                            <div class="col-sm-2">
                                <p>ETR(time):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" formControlName="etrTime" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Description:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="descriptionIncident" style="margin-top: 2mm;" formControlName="description" />
                            </div>
                            <div class="col-sm-2">
                                <p>Calls:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" id="numCallsIncident" formControlName="calls" />
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>ETA(date):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" formControlName="etaDate" /> 
                            </div>
                            <div class="col-sm-2">
                                <p>Voltage:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" id="voltageIncident" formControlName="voltage" />
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>ETA(time):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" formControlName="etaTime" />
                            </div>
                            <div class="col-sm-2">
                                <p>Scheduled(date):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" formControlName="scheduledDate" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>ATA(date):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" formControlName="ataDate" /> 
                            </div>
                            <div class="col-sm-2">
                                <p>Scheduled(time):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" formControlName="scheduledTime" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>ATA(time):</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" formControlName="ataTime" /> 
                            </div>
                        </div>
                        <div class="form-group row"  style="display: flex;justify-content: flex-end;" >
                            <span>
                                <i class = "material-icons">clear</i> 
                            </span>
                            <span>
                                <i class = "material-icons">save</i> 
                            </span>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
