
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<div class="container" style="width: 85%; margin-top: 10%;">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 30px;">
                    <form [formGroup]="basicInfoForm">
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Incident ID:</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" #idIncident style="text-align: center;" readonly/>
                            </div>
                            <div class="col-sm-2">
                                <p>Affected customers:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #affectedByIncident style="text-align: center;" readonly/>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Type:</p>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" #type style="height: 1cm;" formControlName="type">
                                    <option value="">Choose type</option>
                                    <option value="Unplaned">Unplaned</option>
                                    <option value="Planed">Planed</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <p>Outage:</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="datetime-local" #outage class="form-control" formControlName="outage" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Priority:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #prioIncident style="text-align: center;" readonly/>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Confirmed:</p>
                            </div>
                            <div class="col-sm-4">
                                <input #confirmedIncident class="form-control" type="checkbox" style="width: 0.6cm; height: 0.5cm;">
                            </div>
                            <div class="col-sm-2">
                                <p>ETR:</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="datetime-local" #etr class="form-control" formControlName="etr" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Status:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #statusIncident style="margin-top: 1mm; text-align: center;" readonly/>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Description:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" #description type="text" style="margin-top: 2mm;" formControlName="description" />
                            </div>
                            <div class="col-sm-2">
                                <p>Calls:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" #calls formControlName="calls" />
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>ETA:</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="datetime-local" #eta class="form-control" formControlName="eta" /> 
                            </div>
                            <div class="col-sm-2">
                                <p>Voltage:</p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" #voltage formControlName="voltage" />
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>Scheduled fix:</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="datetime-local" #scheduled class="form-control" formControlName="scheduled" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-sm-2">
                                <p>ATA:</p>
                            </div>
                            <div class="col-sm-4">
                                <input #ata type="datetime-local" class="form-control" formControlName="ata" /> 
                            </div>
                        </div>
                        <div class=" form-group row">
                        </div>
                        <div class="form-group row"  style="display: flex;justify-content: flex-end;" >
                            <span>
                                <i class = "material-icons">clear</i> 
                            </span>
                            <span (click)="sendIncidentBasic()">
                                <i class = "material-icons">save</i> 
                            </span>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
