
  #left_side{
      display: inline;
      margin-top: 2cm;
      margin-left: 3cm;
  }

  #right_side{
      background-color: rgb(233, 247, 252);
      height:fit-content;
      width: fit-content;
      display: inline;
      margin-top: 2cm;
      margin-left: 2cm;   
  }

  #button_login{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;
    background-color:rgb(27, 63, 63);
    height: 1.2cm;
    width: 8cm;
  }

  #block{
      display: flex;
  }
