
  #left_side{
      display: inline;
      margin-top: 2cm;
      margin-left: 3cm;
  }

  #right_side{
      background-color: rgb(233, 247, 252);
      height:fit-content;
      width: fit-content;
      display: inline;
      margin-top: 2cm;
      margin-left: 2cm;
      
  }

  #block{
      display: flex;
  }
