<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

 
<!--</div>--------------------------------------------------------->
<!--<div class="bg" ></div>
 <div class="bg bg2"></div>
 <div class="bg bg3"></div>-->
 <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>


<!--===============================================================================================-->

<div style="margin-top: 100px;">
    <div class="row gutters-sm" style="justify-content: center;">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body tab-content">
                    <div class="tab-pane active"  id="account">
                        <h1 style="color: rgb(36, 64, 143);"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration</b></h1>
                        <form [formGroup]="regiForm" >
                            <div>
                                <div class="one" >
                                    <label  class="hoverable" for="fileInput">
                                        <img  [src]= 'path'   >
                                        <div class="hover-text">Choose file</div>
                                        <div class="background"></div>
                                    </label>
                                    
                                    <input type="file" id="fileInput" accept="image/*" (change)="showPreview($event)" valid-file />
                                     <!-- Progress Bar -->
                                <div class="progress form-group" *ngIf="progress > 0" style="width: 50%;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"  [ngStyle]="{ width: progress + '%' }">
                                        {{ progress }}%
                                    </div>
                                </div><br>
                                
                                    <select (change)="selectChangeHandler($event)">
                                        <option *ngFor="let role of uloge" value= {{role.id}}>
                                            {{role.name}}
                                        </option>
                                        </select>
                                        <br>
                                       <div *ngIf="ekipa">
                                        <br><button style="width: 50%;" class="btn btn-primary"  (click)="ChooseTeam()" style="margin-top: 10px;margin-bottom: 10px;" >Choose team</button>
                                        <label>&nbsp;&nbsp;Team: &nbsp;&nbsp; {{regiForm.controls.teamId.value}}&nbsp;&nbsp;</label>
                                        <br>
                                       </div>
                                        <button style="width: 70%;" class="btn btn-primary" id="regiBtn" (click)="addUser()" [disabled]="regiForm.invalid" >Register</button>
&nbsp;
                                        <button style="width: 50%;" class="btn btn-primary" style="margin-top: 10px;margin-bottom: 10px;"  (click)="Back()" >Home page</button>
                                    <!-- Image Preview 
                                
                                        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                                            <img [src]="imageURL" [alt]="regiForm.value.imagename" class="photoview">
                                        </div>
                                    -->
                            </div>
                                <div class="two">
                                    
                                    <div class="form-group required" >
                                        <input mat-Input type="text" class="form-control" placeholder="name" formControlName="name" required minlength="3"  (blur)="nameValue()" >
                                        <control-messages [control]="regiForm.get('name')"></control-messages>
                                        <label class="text-danger" *ngIf="regiForm.get('name')?.errors?.required && regiForm.get('name')?.touched">Name is required.</label>
                                        <label class="text-danger" *ngIf="regiForm.get('name')?.errors?.minlength && regiForm.get('name')?.touched">Name must have min 3 characters.</label>
                                    </div>
                                    
                                    <input mat-Input type="text" class="form-control" placeholder="lastname" formControlName="lastname">
                                    <label class="text-danger" *ngIf="regiForm.get('lastname')?.errors?.required && regiForm.get('lastname')?.touched">Lastname is required.</label>
                                    <label class="text-danger" *ngIf="regiForm.get('lastname')?.errors?.minlength && regiForm.get('lastname')?.touched">Lastame must have min 3 characters.</label><br/>
                                    <input mat-Input type="text" class="form-control" placeholder="username" formControlName="username">
                                    <label class="text-danger" *ngIf="regiForm.get('username')?.errors?.required && regiForm.get('username')?.touched">Username is required.</label>
                                    <label class="text-danger" *ngIf="regiForm.get('username')?.errors?.minlength && regiForm.get('username')?.touched">Username must have min 3 characters.</label><br/>
                                
                                    <input mat-input type="text" class="form-control" placeholder="email" formControlName="email">
                                    <label class="text-danger" *ngIf=" regiForm.get('email')?.touched && regiForm.get('email')?.errors?.required">Email is required.</label>
                                    <label class="text-danger" *ngIf=" regiForm.get('email')?.touched && regiForm.get('email')?.errors?.email">Invalid email.</label><br/>
                                    <input matt-input type="date" class="form-control"  formControlName="bday" />
                                    <label class="text-danger" *ngIf=" regiForm.get('bday')?.touched && regiForm.get('bday')?.errors?.required">Date of birth is required.</label>
                               
                                    <input mat-Input type="password" class="form-control" placeholder="password" formControlName="password">
                                    <label class="text-danger" *ngIf="regiForm.get('password')?.errors?.required && regiForm.get('password')?.touched">Password is required.</label>
                                    <label class="text-danger" *ngIf="regiForm.get('password')?.errors?.minlength && regiForm.get('password')?.touched">Password must have min 4 characters.</label>
                                    <label class="text-danger" *ngIf="regiForm.get('password')?.errors?.pattern && regiForm.get('password')?.touched">Password must have numbers and characters.</label><br/>
                    
                                    <input mat-Input type="password" class="form-control" [ngClass]="{'is-invalid':regiForm.get('passwordCheck')?.errors  && regiForm.get('passwordCheck')?.touched}" placeholder="repeat password" formControlName="passwordCheck"><br/>
                                    <div class="invalid-feedback" *ngIf="regiForm.get('passwordCheck')?.hasError('passwordMismatch')">Password doesn't match.</div>
                                    <label class="text-danger" *ngIf=" regiForm.get('passwordCheck')?.touched && regiForm.get('passwordCheck')?.errors?.required">Confirmation of password is required.</label><br>
                                    <input mat-Input type="text" class="form-control" placeholder="address" formControlName="address"><br>
                                    <label class="text-danger" *ngIf=" regiForm.get('address')?.touched && regiForm.get('address')?.errors?.required">Address is required.</label><br/>
                      
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
