<app-nav-bar></app-nav-bar>
<app-top-navbar  [childMessage]="parentMessage"></app-top-navbar>
  <div class="main">
       
    <form [formGroup]="regiForm">
    <div class="row">
        <div class="column">
            <!--Value: {{ regiForm.value | json }}-->
        
                <br/><input mat-Input type="text" placeholder="username" formControlName="username"><br/>
            
                <input mat-input type="text" placeholder="email" formControlName="email"><br/>
                
                <small class="text-danger" >
                
                You didn't enter email in valid form!
            </small><br/>
           
                <input mat-Input type="password" placeholder="password" formControlName="password"><br/>

                <input mat-Input type="password" placeholder="repeat password" formControlName="passwordCheck"><br/>

                <input mat-Input type="text" placeholder="address" formControlName="address"><br/>

            <select (change)="selectChangeHandler($event)">
            <option *ngFor="let role of uloge" value= {{role.id}}>
                {{role.name}}
            </option>
            </select>
            <br><input type="checkbox" ng-checked="all">  Send email confirmation<br>
            <button color="primary" (click)="addUser()" [disabled]="regiForm.invalid" >Register</button>
        </div>
        <div class="column">
                <input mat-Input type="text" placeholder="name" formControlName="name"><br/>

                <input mat-Input type="text" placeholder="lastname" formControlName="lastname"><br/>


            <!-- Image Preview -->
            <input type="file" accept="image/*" (change)="showPreview($event)" />
            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" [alt]="regiForm.value.imagename" class="photoview">
            </div>
        </div>
    </div>

        
        
       <!-- <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<p>ovo posle</p><br>
 Select File -->



    

    </form>

    
  </div>