<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <p>
                All work operations completed?
            </p>
            <br>
            <p>
                All tags removed?
            </p>
            <br>
            <p>
                Grounding removed?
            </p>
            <br>
            <p>
                Ready for service
            </p>
        </div>
        <div class="col-md-6">
            <input type="checkbox" id="_checkbox1" hidden>
            <label for="_checkbox1">
              <div id="tick_mark1"></div>
            </label>
            <br>
            <input type="checkbox" id="_checkbox2" hidden>
            <label for="_checkbox2">
              <div id="tick_mark2"></div>
            </label>
            <br>
            <input type="checkbox" id="_checkbox3" hidden> 
            <label for="_checkbox3">
              <div id="tick_mark3"></div>
            </label>
            <br>
            <input type="checkbox" id="_checkbox4" hidden>
            <label for="_checkbox4">
              <div id="tick_mark4"></div>
            </label>

        </div>
    </div>

</div>
