<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div clas="row" style="display: flex;">
        <div class="col-md-2">
            <div class="wrapper_left">
                <a [routerLink]='["/safety-docs-new"]'><span>Issue</span></a>
              </div>
        </div>
        <div class="col-md-2">
            <div class="wrapper_right">
                <a href="#"><span>Cancel</span></a>
              </div>
        </div>
    </div>
    <div class="row" style="margin-top: 2cm;">
        <div class="col-md-6">
            <p>Last changed by:</p>
        </div>
        <div class="col-md-6" style="float: left;">
            <input type="text" class="form-control" id="whenChanged" name="whenChanged">
        </div>
    </div>
    <div class="row" style="margin-top: 0.5cm; margin-bottom: 0.5cm;">
        <div class="col-md-6">
            <p>Change made at:</p>
        </div>
        <div class="col-md-6" style="float: left;">
            <input type="text" class="form-control" id="changedAt" name="changedAt">
        </div>
    </div>
    <div class="form-group row"  style="display: flex;justify-content: flex-end;" >
        <span>
            <i class = "material-icons">clear</i> 
        </span>
        <span>
            <i class = "material-icons">save</i> 
        </span>
        
    </div>

</div>