<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div clas="row" style="display: flex;">
        <div class="col-md-2">
            <div class="wrapper_left">
                <a (click)="issue()" ><span>Issue</span></a>
              </div>
        </div>
        <div class="col-md-8">
            <br><br>
          </div>
        <div class="col-md-2">
            <div class="wrapper_right">
                <a (click)="cancel()"><span>Cancel</span></a>
              </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5%;">
        <div style="overflow-x: auto;">    
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  

            
            <ng-container matColumnDef="whoChanged" sticky>
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Who Changed </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.WhoChanged}} </td>
            </ng-container>
            
            <ng-container matColumnDef="whenChanged">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> When Changed </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.WhenChanged}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>
        </div>

        <mat-paginator style="width: 80%;" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        <div class="form-group row"  style="display: flex;justify-content: flex-end; margin-right: 20%; margin-top: 5%;" >
            <span (click)="save()">
                <i class = "material-icons">save</i> 
            </span>
            
        </div>

    </div>
</div>
