<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div clas="row" style="display: flex;">
        <div class="col-md-2">
            <div class="wrapper_left">
                <a [routerLink]='["/safety-docs-new"]'><span>Issue</span></a>
              </div>
        </div>
        <div class="col-md-2">
            <div class="wrapper_right">
                <a href="#"><span>Cancel</span></a>
              </div>
        </div>
    </div>
    <div class="row" style="margin-top: 2cm;">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <p>Last changed by:</p>
            <br>
            <p>Change made at:</p>
        </div>
        <div class="col-md-3" style="float: left;">
            <input type="text" id="lastChanger" name="lastChanger">
            <br>
            <br>
            <input type="text" id="whenChanged" name="whenChanged">
        </div>
    </div>

</div>