<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div clas="row" style="display: flex;">
        <div class="col-md-2">
            <div class="wrapper_left">
                <a [routerLink]='["/home/incident-new"]'><span>New</span></a>
              </div>
        </div>
        <div class="col-md-8">
            <br>
            <div class="slider">
              <mat-label ngClass="labelBeforeSlide"><b>All</b></mat-label>
              <mat-slide-toggle [formControl]="allMineEnable" (change)="onDragChange()" color="primary">Mine</mat-slide-toggle>
            </div>
          </div>
        <div class="col-md-2">
            <div class="wrapper_right">
                <a href="#"><span>Filter</span></a>
              </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5%;">
        <div style="overflow-x: auto;">
    
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  

                <ng-container matColumnDef="Id" sticky>
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td style="text-align: left; background-color: white;"  mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>

            <ng-container matColumnDef="UserNameCreator" sticky>
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Creator </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.UserNameCreator}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Type">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Type}} </td>
            </ng-container>

            <ng-container matColumnDef="Priority">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Priority}} </td>
            </ng-container>

            <ng-container matColumnDef="nesto2">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Confirmed </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Confirmed}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Confirmed">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> ETA </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.ETA}} </td>
            </ng-container>

            <ng-container matColumnDef="ETA">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> ATA </th>
                <td style="text-align: left;" mat-cell *matCellDef="let element"> {{element.ATA}} </td>
            </ng-container>

            <ng-container matColumnDef="ATA">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Outage </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Outage}} </td>
            </ng-container>
            <ng-container matColumnDef="Outage">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> ETR </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.ETR}} </td>
            </ng-container>
            <ng-container matColumnDef="ETR">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> AffectedUsers </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.AffectedUsers}} </td>
            </ng-container>
            <ng-container matColumnDef="AffectedUsers">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> NumberOfCalls </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.NumberOfCalls}} </td>
            </ng-container>
            <ng-container matColumnDef="NumberOfCalls">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> VoltageLevel </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.VoltageLevel}} </td>
            </ng-container>
            <ng-container matColumnDef="EstimatedWorkStartTime">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> EstimatedWorkStartTime </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.EstimatedWorkStartTime}} </td>
            </ng-container>
            <ng-container matColumnDef="Cause">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Cause </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Cause}} </td>
            </ng-container>
            <ng-container matColumnDef="SubCause">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> SubCause </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.SubCause}} </td>
            </ng-container>
            <ng-container matColumnDef="ConstructionType">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> ConstructionType </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.ConstructionType}} </td>
            </ng-container>
            <ng-container matColumnDef="Material">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
                <td style="text-align: left;"  mat-cell *matCellDef="let element"> {{element.Material}} </td>
            </ng-container>
            
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>
        </div>
        <mat-paginator style="width: 80%;" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        

    </div>
</div>