<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>

<div class="row">
    <div id="hotel_map" (click)="getCoord($event)" class="map"></div>z
</div>
<div class="main">
<div style="background-color: rgb(255,255,255,0.5); margin-left: 16.5%; width: 56.5%;">
    <!--&nbsp;&nbsp;&nbsp;<img src="assets/images/vozilo-mapa.png"> <label> Vehicle in the field </label>
 &nbsp;&nbsp;&nbsp;<img src="assets/images/ekipa-mapa.png"> <label> Team on the field</label>-->
 
    <button id="none-image" style="background-color:transparent;border-color: transparent; color: #333;font-weight: bold;"><img with="50" height="50"   src="assets/images/vol.4_not-512.png">&nbsp;&nbsp;None</button>
    <button id="none-image" style="background-color:transparent;border-color: transparent;color: #333;font-weight: bold;"><img with="50" height="50" src="assets/images/ekipa-mapa.png">Team on the field</button>
    <button id="none-image" style="background-color:transparent;border-color: transparent;color: #333;font-weight: bold;"><img with="50" height="50" src="assets/images/vozilo-mapa.png">Vehicle in the field </button>
    
      
</div>
</div>

