<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-top-navbar  [childMessage]="parentMessage"></app-top-navbar>
<app-nav-bar></app-nav-bar>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>

<div class="row">
    <div id="hotel_map" (click)="getCoord($event)" class="map"></div>
</div>
<div class="main">
<div style="background-color: rgb(255,255,255,0.5); margin-left: 16.5%; width: 56.5%;">
 &nbsp;&nbsp;&nbsp;<img src="assets/images/vozilo-mapa.png"> <label> Vehicle in the field </label>
 &nbsp;&nbsp;&nbsp;<img src="assets/images/ekipa-mapa.png"> <label> Team on the field</label>
</div>
</div>

