.labelBeforeSlide {
    vertical-align: top;
    line-height: 24px; 
    margin-right:0.5rem;
    margin-bottom:0.5rem;
  }

   /* Style page content */
   .main {
    margin-left: 100px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    margin-right: 40px;/*udaljenost desne strane od margine*/
    
  }
  .poz{
    padding-top: 10px;
  margin-top: 2px;
  height: 70px;
    background-color:rgb(255,255,255);    /*za onaj recimo header iznad tabele sa dva dugmeta i sliderom*/
  }

  button{
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    margin: 12px 2px;
    cursor: pointer;
    width: 20%;
    text-align: left;
  }
  button:hover {
    background-color:#4CAF50;
  }

h1{
    text-align: center;
    margin: 12px 2px;
    padding: 16px 32px;
    background-color: #c1c1c8;
    color: white;
}

table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.top_el{
  float: left;
  width: 32%;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

a,input{
  display: block;
  width: 100px;
  height: 40px;
  background-color:rgb(255,255,255,0.8);
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  transition: all .35s;
  }
  
a span{
  position: relative;
  z-index: 2;
}
  
a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3619db;
  transition: all .35s;
  color:white;
}
  
a:hover{
  color:white;
}

a:hover:after{
  width: 100%;

}
