<div class="row gutters-sm">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body tab-content">

                <div class="tab-pane active"  id="document">
                    <h6>DOCUMENT SETTINGS</h6>
                    <hr>
                    <div class="form-group">
                    <div>
                        <label class="d-block mb-0">Document type:</label>   
                        <select style="margin-top: 1%; width: 50%;" id="inputDocumentType" class="form-control">
                            <option selected>Work request</option>
                            <option>Switching plan</option>
                            <option>Safety documents</option>
                        </select>
                    </div>
                    <hr>
                    <div>
                        <label class="d-block mb-0">Choose document fields you want to see:   -- koja su neobavezna?</label>
                    </div>
                    <div class="custom-control custom-checkbox" style="margin-top: 1%;">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck1">Type</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck2">Status</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck3">Incident</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck4">Street</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck5">Start date/time</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck6">End date/time</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck7">Created by</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck8" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck8">Purpose</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck9" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck9">Notes</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck10" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck10">Emergency work</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck11" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck11">Company</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck12" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck12">Phone Number</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck13" checked="">
                        <label class="custom-control-label" style="font-weight: 400;" for="customCheck13">Date/time created</label>
                        </div>
                        <button style="margin-left: 1%;width: 15%; margin-top: 2%;" type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>