<app-top-navbar></app-top-navbar>

<app-nav-bar></app-nav-bar>

<div class="main">
    <h2>
        My profile
    </h2> <br/>
    <div class="column">
        <table class="table ">
            <tr>
                <td>Username</td>
                <td></td>
            </tr>
            <tr>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td></td>
            </tr>
            <tr>
                <td>Role</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button [routerLink]='["/editprofile"]'>Edit Profile</button>
                </td>
                <td>
                    <button [routerLink]='["/"]' (click)="logOut()">Log Out</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="column">
       <img >

    </div>
</div>
