<app-top-navbar  [childMessage]="parentMessage"></app-top-navbar>

<app-nav-bar></app-nav-bar>

<div class="main">

    <div class="column">
        <table class="table ">
            <tr>
                <td>Username</td>
                <td> {{user.username}} </td>
            </tr>
            <tr>
                <td>Email</td>
                <td> {{user.email}} </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td> {{user.name}} </td>
            </tr>
            <tr>
                <td>Last name</td>
                <td> {{user.lastname}} </td>
            </tr>
            <tr>
                <td>Role</td>
                <td> {{user.role}} </td>
            </tr>
            <tr>
                <td>
                    <button [routerLink]='["/editprofile"]'>Edit Profile</button>
                </td>
                <td>
                    <button [routerLink]='["/"]' (click)="logOut()">Log Out</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="column">
       <img >

    </div>
</div>
