<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <p class="p-cls">Reason:</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="text-cls" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="p-cls">Comment:</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="text-cls" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="p-cls">Hazard:</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="text-cls" />
        </div>
    </div>
    <div class="container" style="background: lightgray; width: 100%">
        <div class="row">
            <div class="col-md-3">
                <p><b>Customer info</b></p>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <button style="display: flex; background-color: transparent; height: 1cm; width: 5cm; border: hidden;">
                    <img style="margin-right: 3mm; width: 6mm; height: 6mm;" src="assets/images/add-people.png" />
                    <p><b style="font-size: large;" >Select customer</b></p>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Name:</p>
            </div>
            <div class="col-md-2">
                <input type="text" id="name" />
            </div>
            <div class="col-md-2">
                <p style="margin-left:1cm;" >Account:</p>
            </div>
            <div class="col-md-2">
                <input type="text" id="account" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Last name:</p>
            </div>
            <div class="col-md-2">
                <input type="text" id="last-name" />
            </div>
            <div class="col-md-2">
                <p style="margin-left:1cm;">Priority:</p>
            </div>
            <div class="col-md-2">
                <input type="text" id="priority" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Address:</p>
            </div>
            <div class="col-md-2">
                <input type="text" id="address" />
            </div>
        </div>
    </div>
</div>