<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div clas="row" style="display: flex;">
        <div class="col-md-2">
            <div class="wrapper_left">
                <a (click)="addCall()" [routerLink]='["/home/incident-new/calls"]' ><span>Add</span></a>
              </div>
        </div>
        <div class="col-md-8">
            <br><br>
          </div>
        <div class="col-md-2">
            <div class="wrapper_right">
                <a [routerLink]='["/home/incident-new/calls"]' ><span>Cancel</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="p-cls">Reason:</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="text-cls" #reason />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="p-cls">Comment:</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="text-cls" #comment />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="p-cls">Hazard:</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="text-cls" #hazard />
        </div>
    </div>
    <div class="container" style="background: lightgray; width: 100%">
        <div class="row">
            <div class="col-md-3">
                <p><b>Customer info</b></p>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <button (click)="openDialog()" style="display: flex; background-color: transparent; height: 1cm; width: 5cm; border: hidden;">
                    <img style="margin-right: 3mm; width: 6mm; height: 6mm;" src="assets/images/add-people.png" />
                    <p><b style="font-size: large;" >Select customer</b></p>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Name:</p>
            </div>
            <div class="col-md-2">
                <input type="text" #name />
            </div>
            <div class="col-md-2">
                <p style="margin-left:1cm;" >Address:</p>
            </div>
            <div class="col-md-2">
                <input type="text" #address />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Last name:</p>
            </div>
            <div class="col-md-2">
                <input type="text" #lastName />
            </div>
            <div class="col-md-2">
                <p>UserName:</p>
            </div>
            <div class="col-md-2">
                <input type="text" #userName />
            </div>
        </div>
    </div>
</div>