h6{
    font-size: 100%; 
    margin-top: 2%; 
    font-weight: 600;
  }

  table {
    width: 90%;
    margin: 0 auto;
  }
  
  td{
    text-align: left;
  }
  mat-paginator{
    margin: 0 auto;
    width: 90%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  select{
    width: 70%;
  }