<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<ul>
    <!-- ovde naslov stranice -->
    <li class="naslov" style="float:left;font-size: 18px; margin-top: 0.5%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{childMessage}}</li>
    <li>
        <a [routerLink]='["/home/myprofile"]' href="#"><span class="glyphicon glyphicon-user"></span></a>
    </li> 
  </ul>

<div class="sidenav">
    <a [routerLink]='["/home"]'><span class="glyphicon glyphicon-home"></span></a>
    <a [routerLink]='["/home/notifications"]' ><span class="glyphicon glyphicon-bell"></span></a>
    <a class="workreq" [routerLink]='["/home/work-requests"]'><i class="glyphicon glyphicon-list-alt"></i></a>
    <a [routerLink]='["/home/mapa"]'><i class="glyphicon glyphicon-globe"></i></a>
    <a [routerLink]='["/home/teams"]'><i class="fa fa-group"></i></a>
    <a [routerLink]='["/home/users"]' ><span><i class="material-icons">group</i></span></a>
    <a [routerLink]='["/home/settings"]' ><span class="glyphicon glyphicon-cog"></span></a>
    <a [routerLink]='["/"]' ><span class="glyphicon glyphicon-log-out"></span></a>
</div>
<router-outlet></router-outlet>