<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="sidenav">
    <a [routerLink]='["/dashboard"]'><span class="glyphicon glyphicon-home"></span></a>
    <a [routerLink]='["/notifications"]' ><span class="glyphicon glyphicon-bell"></span></a>
    <a class="workreq" [routerLink]='["/work-requests"]'><i class="glyphicon glyphicon-list-alt"></i></a>
    <a [routerLink]='["/mapa"]'><i class="glyphicon glyphicon-globe"></i></a>
    <a [routerLink]='["/users"]' ><span><i class="material-icons">group</i></span></a>
    <a [routerLink]='["/settings"]' ><span class="glyphicon glyphicon-cog"></span></a>
    <a [routerLink]='["/"]' ><span class="glyphicon glyphicon-log-out"></span></a>
</div>