<div class="container" style="width: 60%;">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 30px;justify-content: center;display: flex;">
                    <div class="row">
                        <label for="formFileMultiple" class="form-label">Choose images</label>
                        <input class="form-control" style="height: 39px;" type="file" id="formFileMultiple" multiple />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
