<h1 mat-dialog-title>Teams</h1>
<div mat-dialog-content style="width: 500px;">
  <div class="container" style="margin-top: 5%;">
    <div style="overflow-x: auto">    
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  
            <ng-container matColumnDef="id">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td style="text-align: left;" mat-cell *matCellDef="let element"> {{element.teamId}} </td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th style="font-size: large;" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td style="text-align: left;" mat-cell *matCellDef="let element"> {{element.teamName}} </td>
            </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)=selected(row)></tr>
        
        </table>
    </div>
    <mat-paginator style="width: 40%;" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>

</div>
