<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-nav-bar></app-nav-bar>
<app-top-navbar></app-top-navbar>
<app-new-incident></app-new-incident>
<div class="content">
    <div class="row div-cls">
        <p class="p-cls">Cause:</p>
        <select class="select-cls"  name="incident-cause" id="incident-cause">
            <option value="Weather">Weather</option>
            <option value="Humans">Humans</option>
            <option value="Failure">Failure</option>
        </select>
    </div>
    <div class="row div-cls">
        <p class="p-cls">Subcause:</p>
        <!--zavisi od uzroka-->
        <select class="select-cls" name="incident-subcause" id="incident-subcause">
            <option value="Lightning">Lightning</option>
            <option value="Huricane">Huricane</option>
            <option value="Wind">Wind</option>
        </select>
    </div>
    <div class="row div-cls">
        <p class="p-cls">Construction type:</p>
        <select class="select-cls" name="incident-cons-type" id="incident-cons-type">
            <option value="Underground">Underground</option>
            <option value="Onground">Onground</option>
        </select>
    </div>
    <div class="row div-cls">
        <p class="p-cls">Material:</p>
        <!--zavisi od uzroka-->
        <select class="select-cls" name="incident-material" id="incident-material">
            <option value="Metal">Metal</option>
            <option value="Plastic">Plastic</option>
        </select>
    </div>
</div>
