<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div class="row">
        <a [routerLink]='["/home/incidents"]' style="box-shadow:0 0 .25em rgba(0, 0, 0, 0.55);" class="col-md-4">
            <div style="display:flex">
                <p>MY INCIDENTS</p>
                <p style="margin-left: 40%;" id="numOfIncidents">0</p>
            </div>
            <div style="display: flex;">
                <input type="text" #numOfDraftsIncidents />
                <p style="margin-left: 10%;">Drafts</p>
            </div>
            <div style="display: flex;">
                <input type="text" #numOfCanceledIncidents />
                <p style="margin-left: 10%;">Canceled</p>
            </div>
            <div style="display: flex;">
                <input type="text" #numOfExecutingIncidents />
                <p style="margin-left: 10%;">Executing</p>
            </div>
            <div style="display: flex;">
                <input type="text" #numOfCompletedIncidents/>
                <p style="margin-left: 10%;">Completed</p>
            </div>
        </a>
        <a [routerLink]='["/home/work-plans"]' style="box-shadow:0 0 .25em rgba(0, 0, 0, 0.55);" class="col-md-4">
            <div style="display:flex">
                <p>MY WORK PLANS</p>
                <p style="margin-left: 40%;" id="numOfIncidents">0</p>
            </div>
            <div style="display: flex;">
                <p id="numOfDraftsIncidents">0</p>
                <p style="margin-left: 10%;">Drafts</p>
            </div>
            <div style="display: flex;">
                <p id="numOfCanceledIncidents">0</p>
                <p style="margin-left: 10%;">Canceled</p>
            </div>
            <div style="display: flex;">
                <p id="numOfExecutingIncidents">0</p>
                <p style="margin-left: 10%;">Executing</p>
            </div>
            <div style="display: flex;">
                <p id="numOfCompletedIncidents">0</p>
                <p style="margin-left: 10%;">Completed</p>
            </div>
        </a>
        <a [routerLink]='["/home/safety-docs"]' style="box-shadow:0 0 .25em rgba(0, 0, 0, 0.55);" class="col-md-4">
            <div style="display:flex">
                <p>MY SAFETY DOCS</p>
                <p style="margin-left: 40%;" id="numOfIncidents">0</p>
            </div>
            <div style="display: flex;">
                <p id="numOfDraftsIncidents">0</p>
                <p style="margin-left: 10%;">Drafts</p>
            </div>
            <div style="display: flex;">
                <p id="numOfCanceledIncidents">0</p>
                <p style="margin-left: 10%;">Canceled</p>
            </div>
            <div style="display: flex;">
                <p id="numOfExecutingIncidents">0</p>
                <p style="margin-left: 10%;">Executing</p>
            </div>
            <div style="display: flex;">
                <p id="numOfCompletedIncidents">0</p>
                <p style="margin-left: 10%;">Completed</p>
            </div>
        </a>
    </div>
    <br>
    <div class="row" style="height: 10cm;">
        <div class="col-md-6">
            <igx-category-chart
            [dataSource]="data"
            width="100%"
            height="100%"
            >
        </igx-category-chart>
        </div>
        <div class="col-md-6" style="text-align: center">
            <igx-pie-chart [dataSource]="dataPie"
            width="100%"
            height="100%"
            labelMemberPath="Company"
            valueMemberPath="MarketShare">
            </igx-pie-chart>
        </div>
    </div>
</div>