<div>
    <div class="row">
        <div class="col-md-4" style="text-align: center;">
            <button>
                <p>My incidents</p>
                <!--jos svasta nesto-->
            </button>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <button>
                <p>My work plans</p>
                <!--jos svasta nesto-->
            </button>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <button>
                <p>My safety docs</p>
                <!--jos svasta nesto-->
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="text-align: center;">
            <button>
                <p>Documents</p>
                <!--jos svasta nesto-->
            </button>
        </div>
        <div class="col-md-4" style="text-align: center">
            <button>
                <p>Incidents</p>
                <!--jos svasta nesto-->
            </button>
        </div>
    </div>
    
</div>