<div class="bg" ></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="content" style="width: 60%" >
    <form [formGroup]="newTeamForm">
        <div class="form-row" style="width: 100%;">
            <div class="poz">
                <div class="form-group col-md-12"   >
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Name" required>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputID">Team ID</label>
                    <input type="text" class="form-control" id="inputID" placeholder="Team ID" required>
                </div>
            </div>
            <div class="example-container">
                <h2>Users</h2>
              
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of todo" cdkDrag><div class="example-custom-placeholder" *cdkDragPlaceholder></div>{{item}}</div>
                </div>
            </div>
              
            <div class="example-container">
                <h2>Memebers</h2>
              
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag><div class="example-custom-placeholder" *cdkDragPlaceholder></div>{{item}}</div>
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary" (click)="addTeam()"  style="width: 20%;">Save</button>
      </form>

</div>
